.light-green-button {

    transition: all 0.2s ease-in;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;


    height: 48px;
    padding: 12px 40px 12px 40px;
    border-radius: 8px;
    background: rgb(214, 239, 14);

    &:hover {
        color: #7c7c78b8;

    }

    /* Mobile */
    @media (max-width: 899px) {
        padding: 8px 20px 8px 20px;
        font-size: 14px;
    }
}

.light-button {

    height: 48px;
    padding: 12px 40px 12px 40px;

    color: rgb(214, 239, 14);

    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;

    border: 1px solid rgb(214, 239, 14);
    border-radius: 8px;

    &:hover {

       background-color:rgb(214, 239, 14); ; 
    }

}